/*
BEER APP
Project 1
*/


body {
	overflow: hidden;
	min-height: 100%;
}


/*---------------------- MAIN CONTAINER ------------------------------------------>*/
.table-cont {
	flex-grow: 3;
	order: 1;
	position: absolute;
	margin-top: 7%;
	left: 4%;
}


.gmaps {
	position: fixed;
	min-height: 600px;
	min-width: 650px;
	margin-top: 5%;
	left: 58%;
}

.map {
	min-width: 650px;
	min-height: 650px;
}

.main-container {
    display: flex;
    position: relative;
    min-height: 100%;
    /*border: black 3px solid;*/
}

.search-box {
    position: relative;
    flex: 1;
    width: 100px;
    /*border: black solid 3px;*/
}

.search-cont {
    position: absolute;
    top: 15%;
    left: 0;
    flex: 1;
    width:100%;
    /*border: black solid 3px;*/
}

.beer-box {
    min-height: 100%;
    flex: 1;
    /*width: 0 auto;*/
    position: relative;
    /*border: black 3px solid;*/
    overflow: hidden;
}

.beer-cont {
    position: relative;
    display: inline-block;
    top: 4%;
    left: 55%;
    overflow: hidden;
    min-height: 100%;
    /*border: 3px solid black;*/
}

.main-buttons-container {
	display: flex;
	width: 600px;
	justify-content: flex-start;
	margin-top: 3%;
}

.beer-img {
    position: absolute;
    /*border: solid black 3px;*/
    display: inline-block;
    height: auto;
    width: 270px;
    top: 14%;
    left: 55%;
    display: flex;
    justify-content: center;
}

.beer {
	height: 1000px;
	width: 270px;
}

.search-item {
    display: flex;
}

.submit-btn-loc {
    background-color: white;
    color: black;
    font-size: 18px; 
    font-family: 'Libre Baskerville', serif;
    padding: 0 20px 0 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
	/border-left: 0.3px black solid;
}


/*.submit-btn-code {
    background-color: white;
    color: gray;
    border: none;
    font-family: 'Libre Baskerville', serif;
    padding: 1px 20px 1px 20px;
}*/

.submit-btn-loc-tm, .#zipcode-button2 {
    background-color: white;
    color: black;
    font-size: 18px; 
    font-family: 'Libre Baskerville', serif;
    padding: 0 20px 0 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
	border-left: 0.3px gray solid;
}

#dropdownMenuButton {
    margin-top: 4%;
    padding: 0 20px 0 20px;
}

.search-item {
    display: flex;
}

.name {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 20px;
    font-size: 100px;
    line-height: 95px;
}

.view-btn {
    font-family: untitled-font-1;
    background-color: white;
    color: gray;
    border: none;
    size: 30px;
    align-items: center;
}

.intro {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    color: #4c4847;
}

.explore {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    margin-top: 55px;
}

.form {
    width: 50px;
}





/*---------------------- TOP MENU ------------------------------------------>*/

.inp-btn {
    display: flex;
}

.top-menu {
    display: flex;
    border-bottom: 1px gray solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 340px;
    opacity: 0;
    z-index: 9999;
    background-color: white;
}

.tm-one {
    flex-grow: 8;
}

.tm-two {
    flex-grow: 7;
}

.name-tm {
    font-family: 'Abril Fatface', cursive;
    margin: 20px 0 20px 100px;
    font-size: 80px;
    line-height: 80px;
}

.explore-tm {
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
}

.views-btn {
    display: flex;
}

.submit-btn-tm {
    order: 1;
    margin-top: 10px;
}

.f-cont-tm {
    order: 1;
    margin-top: 10px;
}


/*------------------------carousel on bottle-----------------------*/

* {
    box-sizing: border-box
}

/* Hide the images by default */

.mySlides {
    display: none;
    width: 40%;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}