/*---------------------- MAIN CONTAINER ------------------------------------------>*/
.table-cont {
    flex-grow: 3;
    order: 1;
    position: absolute;
    margin-top: 7%;
    left: 4%;
    width: 50%;
}


.gmaps {
    position: fixed;
    min-height: 400px;
    min-width: 400px;
    width: 50%;
    margin-top: 5%;
    left: 58%;
}

.map {
    min-width: 650px;
    min-height: 650px;


}

.main-container {
    display: flex;
    margin-top: 20px;
    position: relative;
    
}

.beer-box {
    height: 100%;
    flex: 1;
    /*width: 0 auto;*/
    position: relative;
    margin-right: 5%;
    margin-left: 20%;

}

.search-box {
    position: relative;
    top: 50px;
    /*left: 25%;*/
    flex: 3;
    width: 100px;
}

.submit-btn-loc {
    background-color: white;
    color: gray;

    font-family: 'Libre Baskerville', serif;
    padding: 0 20px 0 20px;
    border: none;
}


.submit-btn-loc-tm, .submit-btn-code {
    background-color: white;
    color: gray;
    font-family: 'Libre Baskerville', serif;
    border: none;
}

#dropdownMenuButton {
    padding: 10px;

    border-right: 1px solid gray;
}

#location-button {
    border-right: 1px solid gray;
}

.search-item {
    display: flex;
    width: 60%;
}

.beer {
    position: absolute;
    top: 0;
    left: 7%;
    overflow: hidden;
    width: 0 auto;
    max-width: 1000px;
}

.name {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 20px;
    font-size: 100px;
    line-height: 80px;
}

.view-btn {
    font-family: untitled-font-1;
    background-color: white;
    color: gray;
    border: none;
    size: 30px;
    align-items: center;
}

.intro {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    color: gray;
}

.explore {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.form {
    width: 50px;
}





/*---------------------- TOP MENU ------------------------------------------>*/

.inp-btn {
    display: flex;
}

.top-menu {
    display: flex;
    border-bottom: 1px gray solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 340px;
    opacity: 0;
    z-index: 9999;
    background-color: white;
}

.tm-one {
    flex-grow: 8;
}

.tm-two {
    flex-grow: 7;
}

.name-tm {
    font-family: 'Abril Fatface', cursive;
    margin: 20px 0 20px 100px;
    font-size: 80px;
    line-height: 80px;
}

.name-tm:hover {
    cursor: pointer;
}

.name:hover {
cursor: pointer;
}


.explore-tm {
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
}

.views-btn {
    display: flex;
}

.submit-btn-tm {
    order: 1;
    margin-top: 10px;
}

.f-cont-tm {
    order: 1;
    margin-top: 10px;
}


/*------------------------carousel on bottle-----------------------*/

* {
    box-sizing: border-box
}

.beer-box {
    width: 300px;
    position: relative;
}


/* Slideshow container */

.beer-img {
    width: 185px;
    height:250px;
    position: absolute;
    top: 370px;
    left: 22.5%;
}
.beer {
    margin-left: 10%;
}


/* Hide the images by default */

.mySlides {
    display: none;
    width: 100%;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*media query*/
@media screen and (max-width:1160px) {
    * {
        overflow: visible;
    }
    .beer-box {
        display: none;
    }
    .search-box {
        margin-left: 20%;
    }
    .name-tm {
        font-size: 40px;
        line-height: 40px;
        margin: 20px 20px 20px 10px;
    }
    .explore-tm {
        display: none;
    }
    
    .search-box {
        margin: auto;
        padding: 10px;
    }
    .table-cont, {
        margin-top: 20%;
        
          
    }
    
    .gmaps, .table-cont {
        position: static;
       
        width: 100%;
        padding: 2%;
    }

    .column {
        position: static;
        
    }

}



